In [1]:
import numpy as np
import pandas as pd

## Group By Aggregation

In [2]:
data = {
    "Category": ["A", "B", "A", "B", "A", "B", "A", "B"],
    "Store": ['S1', 'S1', 'S2', 'S2', 'S1', 'S1', 'S2', 'S1'],
    "Sales": [100, 150, 200, 250, 300, 350, 400, 450],
    "Quantity": [1, 2, 3, 4, 5, 6, 7, 8],
    "Date": pd.date_range("2023-01-01", periods=8)
}
df = pd.DataFrame(data)

In [3]:
df

  Category Store  Sales  Quantity       Date
0        A    S1    100         1 2023-01-01
1        B    S1    150         2 2023-01-02
2        A    S2    200         3 2023-01-03
3        B    S2    250         4 2023-01-04
4        A    S1    300         5 2023-01-05
5        B    S1    350         6 2023-01-06
6        A    S2    400         7 2023-01-07
7        B    S1    450         8 2023-01-08

In [5]:
# group by category and sum sales
df.groupby('Category')['Sales'].sum()

Category
A    1000
B    1200
Name: Sales, dtype: int64

In [6]:
df.groupby('Store')['Sales'].sum()

Store
S1    1350
S2     850
Name: Sales, dtype: int64

In [7]:
# group by multiple columns
df.groupby(['Category', 'Store'])['Sales'].sum()

Category  Store
A         S1       400
          S2       600
B         S1       950
          S2       250
Name: Sales, dtype: int64

# Aggregation

In [10]:
df['Sales'].mean()
df['Sales'].max()
df['Sales'].min()
df['Sales'].std()
df['Sales'].count()
df['Sales'].median()
df['Sales'].var()

np.float64(15000.0)

In [11]:
df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])

C:\Users\ASUS\AppData\Local\Temp\ipykernel_20692\2138786665.py:1: FutureWarning: The provided callable <function sum at 0x000002456BFA2020> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20692\2138786665.py:1: FutureWarning: The provided callable <function mean at 0x000002456BFA3420> is currently using Series.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20692\2138786665.py:1: FutureWarning: The provided callable <function std at 0x000002456BFA3560> is currently using Series.std. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "std" instead.
  df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20692\2138786665.py:1: FutureWarning: The provided callable <function min at 0x000002456BFA2B60> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])
C:\Users\ASUS\AppData\Local\Temp\ipykernel_20692\2138786665.py:1: FutureWarning: The provided callable <function max at 0x000002456BFA2A20> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df['Sales'].agg([np.sum, np.mean, np.std, np.min, np.max])

sum     2200.000000
mean     275.000000
std      122.474487
min      100.000000
max      450.000000
Name: Sales, dtype: float64