In [1]:
import spacy

In [2]:
nlp = spacy.blank('en')

doc = nlp("Dr. Strange love pav bhaji of mumbai as it costs only 2$ pe plate.")

for token in doc:
    print(token)

Dr.
Strange
love
pav
bhaji
of
mumbai
as
it
costs
only
2
$
pe
plate
.

In [5]:
doc[1]

Strange

In [7]:
doc[0]

Dr.

In [8]:
doc[-1]

.

In [10]:
doc = nlp('''"let's go to N.Y.!"''')

for token in doc:
    print(token)

"
let
's
go
to
N.Y.
!
"

In [11]:
type(nlp)

spacy.lang.en.English

In [12]:
type(doc)

spacy.tokens.doc.Doc

In [13]:
type(token)

spacy.tokens.token.Token

In [14]:
doc = nlp("Tony gave two $ to peter")

token0 = doc[0]
token0

Tony

In [16]:
type(token0)

spacy.tokens.token.Token

In [17]:
token0.is_alpha

True

In [18]:
token0.like_num

False

In [19]:
token2 = doc[2]
token2

two

In [20]:
token2.like_num

True

In [21]:
token3 = doc[3]
token3

$

In [22]:
token3.is_currency

True

In [24]:
for token in doc:
    print(token, "==>", "index: ", token.i,
          "is_alpha:", token.is_alpha,
          "is_punct:", token.is_punct,
          "like_num:", token.like_num,
          "is_currency:", token.is_currency,
          )

Tony ==> index:  0 is_alpha: True is_punct: False like_num: False is_currency: False
gave ==> index:  1 is_alpha: True is_punct: False like_num: False is_currency: False
two ==> index:  2 is_alpha: True is_punct: False like_num: True is_currency: False
$ ==> index:  3 is_alpha: False is_punct: False like_num: False is_currency: True
to ==> index:  4 is_alpha: True is_punct: False like_num: False is_currency: False
peter ==> index:  5 is_alpha: True is_punct: False like_num: False is_currency: False

In [26]:
with open("students.txt") as f:
    text = f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com\n',
 '\n',
 '\n',
 '\n']

In [28]:
text = ' '.join(text)
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com\n \n \n \n'

extracting emails of student

In [32]:
doc = nlp(text)
emails = []
for token in doc:
    if token.like_email:
        emails.append(token.text)

emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

In [34]:
from spacy.symbols import ORTH
nlp.tokenizer.add_special_case("gimme", [
    {ORTH: "gim"},
    {ORTH: "me"}
])


doc = nlp("gimme dobule cheese extra large healthy pizza")

tokens = [token.text for token in doc]
tokens

['gim', 'me', 'dobule', 'cheese', 'extra', 'large', 'healthy', 'pizza']

In [36]:
nlp.add_pipe('sentencizer')

In [37]:
nlp.pipe_names

['sentencizer']

In [38]:
doc = nlp("Dr. Stranger like hulk. Hulk not like")

for sentence in doc.sents:
    print(sentence)

Dr. Stranger like hulk.
Hulk not like